#main-grid{
    display: grid;

    height: 100%;

    grid-template-columns: repeat(4, 25%);
}

/* Header */
#header-div{
    grid-column: 1;

    background-color: whitesmoke;
}

#header{
    background-color: bisque;

    justify-content: center;

    height: 30%;
}
#center-img{
    height: calc(100% + 80px);
    width: fit-content;

    margin: auto;
}
#center-img > img{
    height: 100%;
    transform: translateY(-20px);

    margin: auto;
}